{
  "presets": [
    "vue",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": {
          "version": 2
        }
      }
    ],
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
