@import '~normalize.css/normalize';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto&display=swap');

$color-primary:        #2980b9;
$color-grey:           #333;
$color-light-grey:     #e4e4e4;
$heading-font-family:  'Roboto', sans-serif;
$body-font-family:     'Open Sans', sans-serif;

main {
  margin: 0 5%;
  font-family: $body-font-family;
  color: $color-grey;
  font-size: 14px;
}

section {
  margin-bottom: 40px;
}

.masthead {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;

  &__title {
    font-family: $heading-font-family;
    font-size: 2.5em;
    margin-bottom: 10px;
  }

  &__badge {
    margin-bottom: 20px;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid $color-light-grey;

  .table__cell {
    border-bottom: 1px solid $color-light-grey;
    padding: 10px 15px;
    text-align: center;
    font-size: 15px;
    line-height: 1.4;

    &--header {
      text-transform: uppercase;
      font-size: 0.8em;
      font-weight: 700;
    }
  }

  &__buttons {
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.button {
  background-color: $color-primary;
  border-width: 2px;
  border-color: $color-primary;
  border-radius: 3px;
  margin: 2px;
  padding: 8px 20px;
  color: #fff;
  user-select: none;
  transition: all 250ms;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: darken($color-primary, 15%);
    border-color: darken($color-primary, 15%);
  }

  &--secondary {
    background-color: transparent;
    color: $color-primary;

    &:hover,
    &:focus {
      background-color: $color-primary;
      border-color: $color-primary;
      color: #fff;
    }
  }

  &--text {
    &,
    &:hover,
    &:focus {
      background-color: transparent;
      border-color: transparent;
      color: $color-primary;
    }
  }
}

.subheading {
  font-family: $heading-font-family;
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
}

.content {
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid darken($color-light-grey, 10%);
  border-radius: 4px;
  box-sizing: border-box;

  &--checkbox {
    width: auto;
  }
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

  &__content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid $color-light-grey;
    width: 80%;
  }

  &__close {
    color: $color-grey;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
      color: darken($color-grey, 10%);
      text-decoration: none;
      cursor: pointer;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }
}
